
$color1-farmacity:#69BA2F !important; 

$color2-farmacity: #ffff !important;

$color3-farmacity:#69BA2F !important; 

$color4-farmacity: rgb(36, 120, 189)!important;
$color5-farmacity: rgba(233, 4, 4, 0.767) !important;


$color6-farmacity: rgb(20, 197, 114) !important;
